@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    color: white;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 17px;
}
h3 {
    font-size: 15px;
}
p {
    font-size: 12px;
}
span {
    font-size: 10px;
}
.yellow_rectangle {
    height: 2px;
    width: 17px;
    background-color: #FFC905;
}

main {
    /* background-color: rgb(102, 142, 177); */
    width: 595px;
    min-height: 700px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 578px;
    margin: 0 auto;
}
.avatar {
    position: relative;
}
.avatar::before {
    content: '';
    position: absolute;
    width: 48px;
    height: 100%;
    background-color: rgba(255, 205, 4, 0.70);
    right: 206px;
}
.avatar > img {
    height: 100%;
    width: 254px;
    float: right;
    object-fit: cover;
}
.yellow_bg {
    background-color: #FFC905;
    width: max-content;
    padding: 1px 2px 1px 8px;
    border-radius: 2.5px;
}


.profile {
    /* background-color: blanchedalmond; */
    padding: 66px 14px 6px 32px;
    color: black;
}
.profile h3 {
    margin-top: 6px;
    margin-bottom: 29px;
}
.profile .yellow_rectangle {
    /* margin-top: 11px;
    margin-bottom: 11px; */
    margin: 11px 0;
}
.profile p {
    font-size: 10px;
}




.education {
    background-color: #292935;
}
.work {
    background-color: #22222E;
}
