@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    color: white;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 17px;
}
h3 {
    font-size: 15px;
}
p {
    font-size: 12px;
}
span {
    font-size: 10px;
}
.yellow_rectangle {
    height: 2px;
    width: 17px;
    background-color: #FFC905;
}

main {
    /* background-color: rgb(102, 142, 177); */
    max-width: 595px;
    min-height: 700px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 578px;
    margin: 0 auto;
}
.avatar {
    position: relative;
}
.avatar::before {
    content: '';
    position: absolute;
    width: 48px;
    height: 100%;
    background-color: rgba(255, 205, 4, 0.70);
    right: 206px;
}
.avatar > img {
    height: 100%;
    width: 254px;
    float: right;
    object-fit: cover;
}
.yellow_bg {
    background-color: #FFC905;
    width: max-content;
    padding: 1px 2px 1px 8px;
    border-radius: 2.5px;
}


.profile {
    /* background-color: blanchedalmond; */
    padding: 66px 14px 6px 32px;
    color: black;
}
.profile h3 {
    margin-top: 6px;
    margin-bottom: 29px;
}
.profile .yellow_rectangle {
    /* margin-top: 11px;
    margin-bottom: 11px; */
    margin: 11px 0;
}
.profile p {
    font-size: 10px;
}



/* EDUCATION SECTION */
.education {
    background-color: #292935;
    position: relative;
}

.grey_line {
    width: 135px;
    height: 4px;
    background-color: #5E5D6B;
}
.yellow_line {
    height: 100%;
    background-color: #FFC905;
    position: relative;
}
.yellow_line::after {
    content: '';
    position: absolute;
    right: 0;
    top: -1px;
    height: calc(100% + 2px);
    width: 2px;
    background-color: #FFC905;
}
.w115 {
    width: 115px;
}
.w58 {
    width: 58px;
}
.w41 {
    width: 41px;
}
.w39 {
    width: 39px;
}
.contacts {
    display: flex;
    gap: 11px;
    position: absolute;
    bottom: 0;
}
.contacts > div {
    height: 108px;
    display: flex;
    flex-direction: column;
}
.contacts img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.contacts__icons {
    background-color: #FFC905;
    width: 37px;
    justify-content: space-around;
    align-items: center;
}
.contacts__data {
    width: max-content;
    justify-content: space-evenly;
}
.f10 {
    font-size: 10px;
}
.education {
    padding-left: 17px;
}
.education h2 {
    margin-top: 50px;
}
.education .yellow_rectangle {
    margin: 13px 0;
}
.education > p {
    margin-top: 8px;
    margin-bottom: 20px;
}
.expertise {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30px 30px 30px 30px;
    justify-items: start;
    align-items: center;
}


.work {
    background-color: #22222E;
    padding-top: 18px;
    padding-left: 33px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.work h2 {
    margin-top: 28px;
}
.work h3 {
    margin-bottom: 10px;
}
.work .yellow_bg {
    color: black;
    padding: 1px 2px 1px 3px;
    font-weight: bold;
}
.yellow_bg + span {
    font-size: 12px;
}
.work > p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.inrterests {
    margin-top: 18px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.inrterests > div {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.inrterests > div > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}





@media (max-width: 550px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 577px 577px;
    }
}

